---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};
const pagination = {
	data: "collections.posts",
	size: 8,
	filter: ["all", "posts"],
	reverse: true
};
---
<h1>Recent Posts</h1>

{% set postslist = pagination.items %}
{% include "postslist.njk" %}
{% include "pagination.njk" %}
